.about {
  background-color: transparent;
  font-size: 1.1em;
  
}

.profile {
  position: static;
  min-width: 300px;
  max-width: 300px;
}
.my-btn{
  transition: transform 0.3s;
}

.my-btn:hover {
  transform: scale(1.05);
}


.my-name{
  transition: transform 0.3s;
}

.my-name:hover {
  transform: scale(1.05);
}


.about-img::after {
  transform: scale(1.05);
	content: '';
	position: absolute;
	left: 130px;
	top: 19px;
	height: 95%;
	width: 55%;
  border: 7px solid rgb(104, 86, 167);
  border-radius: 10px;
	z-index: -1;
}

.about-img {
  transition: transform 0.3s;
}
.about-img:hover {
  transform: scale(1.05);
  
}