.about {
  background-color: transparent;
  font-size: 1.1em;
  
}

.profile {
  position: static;
  min-width: 250px;
  max-width: 250px;
}
.my-btn{
  transition: transform 0.3s;
}

.my-btn:hover {
  transform: scale(1.05);
}
.my-name{
  transition: transform 0.3s;
}

.my-name:hover {
  transform: scale(1.05);
}


